.character {
  display: grid;
  padding-top: 20vh;
  justify-content: center;
}

.characterImage {
  border-radius: 50%; /* Make the image circular */
}


.character div {
    margin-bottom: 8px;
}

/* Additional styling for specific elements if needed */
.character div:nth-child(even) {
    color: #333; /* Change text color for odd-numbered divs */
}

.character div:nth-child(odd) {
    font-weight: bold; /* Make text bold for even-numbered divs */
}