body {
  background: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  /*To start as invisible*/
  opacity: 0;
  /*To appear in background*/
  z-index: -1;

  animation-name: appear;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction: alternate-reverse;
}

.background:nth-child(1) {
  animation-delay: 0s;
  background: linear-gradient(to left, #f06 0%, #60f 100%);
}

.background:nth-child(2) {
  animation-delay: -2800ms; /* Negative delay to overlap with the previous cycle */
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}

.background:nth-child(3) {
  animation-delay: -5600ms;
  background: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}

.background:nth-child(4) {
  animation-delay: -8400ms;
  background: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
}

.background:nth-child(5) {
  animation-delay: -11200ms;
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(237, 3, 32, 0.87) 20.8%,
    rgba(242, 121, 1, 0.84) 74.4%
  );
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rickMortyBackground {
  0% {
    background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  }
  25% {
    background: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  }
  50% {
    background: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
  }
  75% {
    background: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(237, 3, 32, 0.87) 20.8%,
      rgba(242, 121, 1, 0.84) 74.4%
    );
  }
  100% {
    background: linear-gradient(to right, #ff5858, #f857a6);
  }
}

.button {
  font-size: 2vw; /* Relative to viewport width */
  background-color: black;
  border-radius: 1em;
  border-color: #d2e054;
  color: #12b0c9;
  padding: 1vh 5vw; /* Relative to viewport height and width */
  border-width: 0.25em;
  cursor: pointer;
}

.button:hover {
  color: black;
  background-color: #12b0c9;
}
